/* Header style */
header {
    background-image: url(../img/pattern.png);
    background-color: blue;
    width: 100%;
}

/* Logo style */
#logo   {
    width: 30%;
    margin-top: 8%;
}

/* Table rule style */

thead  {
    background-color: blue;
    color: white;
}

tbody   {
    text-align: center;
}

#blue   {
    background-color: aqua;
}

/* Marker */
#mark1  {
    background-color: yellow;
}

/* Image rules style */
#img_bottom   {
    position: relative;
    text-align: left;
    color: white;
} 

#title_img_position_1 {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}